.containerCoffs{
    background: #3E2723;
    border-radius: 10px;
    display: grid;
    width: 500px;
    height: 250px;
    grid-template-columns: 15% 85%;
    margin-top: 20px;
    justify-items: center;
    padding: 20px;
}
.imgCoffs{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
}
.formCoffs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.formCoffs textarea{
    background: #3E2723;
    font-size: 24px;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    resize: none;
    color: #F5E9DC;
}
.formCoffs button{
    font-size: 24px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background: #F5E9DC;
    color: #3E2723;
    border: none;
}
.divButton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}



/* From Uiverse.io by akshat-patel28 */ 
.fileDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.inputDiv {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inputDiv:hover {
  animation: flicker 0.5s linear;
  animation-fill-mode: forwards;
}

.iconImg {
  color: #F5E9DC;
  font-size: 2rem;
  cursor: pointer;
}

.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

@keyframes flicker {
  0% {
      border: none;
      box-shadow: none;
  }

  100% {
      border: 2px solid #F5E9DC;
      box-shadow: 0px 0px 30px #F5E9DC, inset 0px 0px 10px #F5E9DC, 0px 0px 5px rgb(255, 255, 255);
  }
}
.container_content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    background: #2D1B18;
    height: 94vh;
    /* width: 100%; */
    color: #F5E1A4;
    gap: 10px;
    padding: 20px;
}

.aside_left{
    /* background: yellow; */
    border: 2px solid #F5E1A4;
    border-radius: 10px;
}

.main{
    /* background: #b3503f; */
    border: 2px solid #F5E1A4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    overflow-y: scroll;
}
.aside_right{
    /* background: rgb(223, 178, 41); */
    border: 2px solid #F5E1A4;
    border-radius: 10px;
}

.listHeader{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.listHeader li{
  list-style: none;
  font-size: 24px;
  margin: 10px;
  display: flex;
  align-items: center;
}
.listHeader li button{
  color: #F5E1A4;
  padding: 10px 20px 10px 20px;
  background: none;
  font-size: 24px;
  border: none;
}
.listHeader li:hover{
  background: #3E2723;
  border-radius: 32px;
}
.logoPlane, .logoHome, .logoSearch, .logoMessage{
  color: #F5E1A4;
  margin-inline: 20px;
}
.profile{
  border-radius: 64px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile:hover{
  background: #3E2723;
}

/* card coffs*/

.cardCoffs{
    display: grid;
    grid-template-rows: 1fr auto;
    background: #3E2723;
    border-radius: 10px;
    width: 500px;
    margin-top: 20px;
    padding: 20px;
    gap: 10px;
}
.imgCardCoffs{
    width: 100%;
    margin-top: 20px;
}
.cardContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cardContent p{
    font-size: 24px;
    display: flex;
    justify-content: start;
    color: #F5E1A4;
}
.cardContent button{
    font-size: 16px;
    width: 100px;
    height: 30px;
    border-radius: 40px;
    background: #F5E1A4;
    color: #3E2723;
    border: none;
}
.cardContent button:hover{
    color: #F5E1A4;
    background: #2D1B18;
}
.cardUser{
  text-align: start;
  font-size: 24px;
  color: #F5E1A4;
}

